*~
_build/
setup.data
setup.log
configure
*.native
*.byte
*.o
*.cm[ioax]
*.cmxa
*.annot
doclib.docdir
ocaml.org/
ocamltohtml
rss2html
relative_urls
absolute_urls
script/md_preprocess
script/code_top
script/breadcrumb
script/lang_of_filename
script/translations
script/translate
template/front_code_snippet.html
template/learn_code_snippet.html
opam.ocaml.org/template.xhtml
.DS_Store
script/link_of_lang
script/generate_opam_update_list
opam_update_list
*.bz2
*.ai
