*~
_build/
setup.data
setup.log
configure
*.native
*.byte
*.o
*.cm[ioax]
*.cmxa
doclib.docdir
src/lib/ocamlorg.ml
src/lib/ocamlorg.mli
src/lib/META
src/lib/ocamlorg.mllib
src/lib/doclib.odocl
ocaml.org/
ocamltohtml
rss2html
src/tpl/front_code_snippet.html
.DS_Store
