Esther Baruk <eelsther@hotmail.fr>
Esther Baruk <eelsther@hotmail.fr> <esther.baruk@gmail.com>
Esther Baruk <eelsther@hotmail.fr> <surdinal09@yahoo.fr>
Esther Baruk <eelsther@hotmail.fr> <eelsther@eelsther.(none)>
Philippe Wang <philippe.wang@gmail.com>
Florent Monnier <monnier.florent@gmail.com>
Emmanuel Delaborde <manu.delab@gmail.com>
Philippe Veber <philippe.veber@gmail.com>
Philipp Muller <descpl@yahoo.de>
Michel Mauny <Michel.Mauny@ensta.fr>
Steve Hiemstra <speggy@gmail.com>
Çagdas Bozman <bozman.cagdas@gmail.com>
Çagdas Bozman <bozman.cagdas@gmail.com> <cagdas.bozman@ocamlpro.com>
Ronan Le Hy <ronan.lehy@gmail.com>
Tong Niu <tn9td@virginia.edu>
Shawn Otis <otisshawn@gmail.com>
