<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>OCaml - Books</title>
</head>
<body id="Screen">

#include "body.header.include"

#include "body.leftmenu.include"

<h1>Books on OCaml</h1>

<p>OCaml currently suffers from a lack of paperback books. New books
are on the way, but in the meantime, you can easily find up-to-date
books on OCaml online here.</p>

<h2>Online Books on OCaml</h2>

<ul>
  <li> <em>"Introduction to OCaml"</em> by J. Hickey(<a href="http://files.metaprl.org/doc/ocaml-book.pdf">PDF</a> [<a href="files/hickey-ocaml-book.pdf">cached</a>]).
    <p>This book is notoriously much more than just an introduction to
    OCaml, it describes most of the language, and is accessible. </p>
    </li>
  <li><em>"Developing Applications With OCaml"</em> by E. Chailloux,
P. Manoury and B. Pagano
(<a href="http://caml.inria.fr/pub/docs/oreilly-book/html/index.html">Online</a>, <a href="http://caml.inria.fr/pub/docs/oreilly-book/ocaml-ora-book.pdf">PDF</a>
[<a href="files/ocaml-ora-book.pdf">cached</a>]).
    <p>This book is a translation of a French book published by
    OReilly. It does not only covers the language, but also the
    runtime and the tools, whose understanding is necessary to
    actually develop a complete project in OCaml.</p>
  </li>
  <li><em>"Using, Understanding, and Unraveling OCaml"</em>
by D. Remy (<a href="http://caml.inria.fr/pub/docs/u3-ocaml/">Online</a>,
<a href="http://caml.inria.fr/pub/docs/u3-ocaml/ocaml.pdf">PDF</a>
[<a href="files/remy-ocaml.pdf">cached</a>]).
    <p>This book describes both the OCaml language and the theoretical
    grounds behind its powerful type system. A good complement to
    other books on OCaml.</p></li>
</ul>

<p>Don't forget our <a href="documentation.html">Documentation
page</a> containing the reference manual and several cheat sheets, and
our <a href="tutorials.html">Tutorials page</a>, with links to online
tutorials.</p>



#include "body.trailer.include"

</body>
</html>
