<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>OCaml - Documentation</title>
</head>
<body id="Screen">

#include "body.header.include"

#include "body.leftmenu.include"

<h1>Documentation</h1>

<h2>User Manual</h2>

<p>The User Manual is the complete reference guide to OCaml. Updated for
each version of OCaml, it contains the description of the language, of
its extensions, and the documentation of the tools and libraries
included in the official distribution.</p>

<ul>
  <li><a href="http://caml.inria.fr/pub/docs/manual-ocaml/index.html">Browse the manual</a></li>
  <li><a href="http://caml.inria.fr/distrib/ocaml-3.12/ocaml-3.12-refman.pdf">Download the PDF</a></li>
  <li><a href="http://caml.inria.fr/distrib/ocaml-3.12/ocaml-3.12-refman.html.tar.gz">Download a bundle of HTML files</a></li>
</ul>

<h2>Cheat Sheets</h2>

<p><a href="http://www.ocamlpro.com/">OCamlPro</a> has published cheat
sheets (one or two-pages summaries) on OCaml:</p>

<ul>
  <li><a href="http://www.ocamlpro.com/files/ocaml-lang.pdf">The OCaml Language</a> (Pdf, June 2011)
  <li><a href="http://www.ocamlpro.com/files/ocaml-tools.pdf">OCaml Standard Tools</a> (Pdf, June 2011)
  <li><a href="http://www.ocamlpro.com/files/ocaml-stdlib.pdf">OCaml Standard Library</a> (Pdf, June 2011)
  <li><a href="http://www.ocamlpro.com/files/tuareg-mode.pdf">OCaml Emacs Mode (Tuareg)</a> (Pdf, June 2011)
</ul>

#include "body.trailer.include"

</body>
</html>
