<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>OCaml - Download</title>
</head>
<body id="Screen">

#include "body.header.include"

#include "body.leftmenu.include"

<h1>Download &amp; Installation</h1>

<p> OCaml is distributed by Inria. You will find below links to download
the latest stable version, as well as links towards the SVN with the
development version. </p>

    <h2>Stable Version</h2>

    <p> The most recent version is <b>OCaml 3.12.1</b>, released on
	2011-07-04.  </p>
    <ul>
      <li><a href="http://yquem.inria.fr/~protzenk/caml-installer/ocaml-3.12.1-mingw32.exe">OCaml 3.12.1 Windows Installer</a> (and <a href="http://protz.github.com/ocaml-installer/">its documentation</a>)
      <li><a href="http://caml.inria.fr/pub/distrib/ocaml-3.12/ocaml-3.12.1.tar.gz">OCaml 3.12.1 Sources</a> (for compilation under Unix or Windows Cygwin)
    </ul>

     <p>Find more packages on <a href="http://caml.inria.fr/ocaml/release.en.html">Inria&#39;s website</a>.</p>


     <h2>Development Version</h2>

          <p>You can access the most recent version in the SVN: </p>

          <ul>
            <li><a href="http://caml.inria.fr/cgi-bin/viewvc.cgi/">Browse the repository</a>
            <li>Get a copy of the next release:</p>
              <code>svn checkout http:&frasl;&frasl;caml.inria.fr&frasl;svn&frasl;ocaml&frasl;trunk</code>
          </ul>

     <h2>Other Implementations</h2>

     <p>These projects allow you to compile OCaml code towards
     platforms traditionnally designed for other languages.</p>

     <ul>
       <li>The <a href="http://ocsigen.org/js_of_ocaml/">js_of_ocaml project</a>, an OCaml to Javascript compiler (stable)
       <li>The <a href="http://cafesterol.x9c.fr/">ocamljava project</a>, an OCaml to Java compiler (experimental)
     </ul>


#include "body.trailer.include"

</body>
</html>
