<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>OCaml - Support</title>
</head>
<body id="Screen">

#include "body.header.include"

#include "body.leftmenu.include"

<h1>Supporting and Getting Support</h1>

<p>The current development of OCaml is lead
by <a href="http://caml.inria.fr/">Inria</a>, and commercial support
is provided by the <a href="http://www.ocamlpro.com/">OCamlPro</a>
company.

<h2>The Caml Consortium at Inria</h2>

<p>The Caml Consortium federates the design and development of the
Caml language and its programming environment. The Consortium allow
its members to demonstrate their interest in the Caml language and
express their support to its development. Moreover, they benefit of a
specific license.</p>

<p>To join the Caml Consortium, companies pay an annual fee of 3000
euros. If you are
interested, <a href="http://caml.inria.fr/consortium/index.en.html">follow
this link</a>.</p>

<h3>Current Members</h3>
<p>
  <table class="logos">
    <tr>
      <td class="logo"><a href="http://www.cea.fr"><img src="files/cea.png" alt="CEA"/></a></td>
      <td class="logo"><a href="http://www.citrix.com"><img src="files/citrix.png" alt="Citrix"/></a></td>
      <td class="logo"><a href="http://www.dassault-aviation.com"><img src="files/dassault-aviation.png" alt="Dassault Aviation"/></a></td>
    </tr>
    <tr>
      <td class="logo"><a href="http://www.3ds.com"><img src="files/3ds.png" alt="Dassault System"/></a></td>
      <td class="logo"><a href="http://www.esterel-technologies.com"><img src="files/esterel.png" alt="Esterel Technologies"/></a></td>
      <td class="logo"><a href="http://www.janestreet.com"><img src="files/janestreet.png" alt="Jane Street"/></a></td>
    </tr>
    <tr>
      <td class="logo"><a href="http://www.lexifi.com"><img src="files/lexifi.png" alt="Lexifi"/></a></td>
      <td class="logo"><a href="http://www.microsoft.com"><img src="files/microsoft.png" alt="Microsoft"/></a></td>
      <td class="logo"><a href="http://www.mlstate.com"><img src="files/mlstate.png" alt="MLState"/></a></td>
    </tr>
    <tr>
      <td class="logo"><a href="http://www.mylife.com"><img src="files/mylife.png" alt="Mylife.com"/></a></td>
      <td class="logo"><a href="http://www.simcorp.com"><img src="files/simcorp.png" alt="SimCorp"/></a></td>
      <td class="logo"><a href="http://www.ocamlpro.com"><img src="files/ocamlpro.png" alt="OCamlPro" height="50" /></a></td>
    </tr>
  </table>
</p>

<h2>Commercial Support by OCamlPro</h2>

<p>Commercial support can be provided
by <a href="http://www.ocamlpro.com/">OCamlPro</a>. OCamlPro provides
different services, from simple support to advanced development in
OCaml, and training and consulting.</p>

#include "body.trailer.include"

</body>
</html>
