<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>OCaml - Tutorials</title>
</head>
<body id="Screen">

#include "body.header.include"

#include "body.leftmenu.include"

<h1>Tutorials</h1>

<h2>Try OCaml Online</h2>
<ul>
<li> <a href="http://try.ocamlpro.com/">Try OCaml Online</a> (by
  OCamlPro) allows you to start learning OCaml in your browser,
  without installing it. Compiled as a single Javascript page, it
  gives you the full power of OCaml, even when your are disconnected
  from the network. </li>
</ul>

<h2>Tutorials on OCaml</h2>

<ul>
<li> <a href="http://caml.inria.fr/pub/docs/manual-ocaml/manual003.html">
    The Official Tutorial</a> (by Inria) gives you a fast
    introduction to the most useful features of the language.</li>

<li><a href="http://www.csc.villanova.edu/~dmatusze/resources/ocaml/ocaml.html">
    Notes on OCaml</a> (by David Matuszek) gives a concise, yet broad,
    overview of the language and the standard library.</a>

<li><a href="http://www.linux-nantes.org/~fmonnier/OCaml/ocaml-wrapping-c.php">
    Tutorial on the C API</a> (by Florent Monnier) explains how to
    write C stubs to call C functions from OCaml and back.</li>
<li><a href="http://www.soton.ac.uk/~fangohr/software/ocamltutorial/">
    OCaml for scientific computation</a> (by Thomas Fiscbacher),
    covers a broad sample of OCaml, from the basics to the C api.</li>
</ul>

<h2>Tutorials on Tools</h2>

<p>There are also tutorials that can be useful to learn how to use
popular tools and libraries.</p>

<ul>
<li> <a href="http://brion.inria.fr/gallium/index.php/Syntax_extension_tutorial">Camlp4 Tutorial</a>, to build syntax extensions for OCaml with Camlp4.

<li><a href="http://plus.kaist.ac.kr/~shoh/ocaml/ocamllex-ocamlyacc/ocamllex-tutorial/">OCamllex Tutorial</a> (by SooHyoung Oh), on how to
create lexers using the <code>ocamllex</code> tool of the standard
distribution.</li>

<li><a href="http://plus.kaist.ac.kr/~shoh/ocaml/ocamllex-ocamlyacc/ocamlyacc-tutorial/">OCamlyacc
Tutorial</a> (by SooHyoung Oh), on how to create parsers using
the <code>ocamlyacc</code> tool of the standard distribution.</li>

</ul>

<h2>Tutorials on Contributions</h2>

<ul>

<li><a href="http://plus.kaist.ac.kr/~shoh/ocaml/lablgtk2/lablgtk2-tutorial/">LablGTK
2.0 Tutorial</a> (by SooHyoung Oh), on how to create graphical
applications with the LablGTK library.</li>

<li> <a href="http://martin.jambon.free.fr/extend-ocaml-syntax.html">Camlp5
Tutorial</a> (by Martin Jambon), on how to use the Camlp5 processor

</ul>

#include "body.trailer.include"

</body>
</html>
