body {
  padding-top: 140px;
  padding-bottom: 40px;
}

.navbar-inner.subnavbar {
  min-height: 0;
}

.subnavbar .nav > li > a {
  padding: 10px 15px;
}

body > .navbar .subnavbar {
  font-size: 13px;
  padding-left: 171px; /* main navbar logo box width */
}

.table th, .table td {
  text-align: left;
}

/* Change the docs' brand */
body > .navbar .subnavbar .brand {
  padding: 10px 171px 10px 0px; /* main navbar logo box width */
  margin-left: 20px;
  float: right;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .subnavbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

h2 {
  border-bottom: 1px solid lightgrey;
  padding-top: 5px;
}

h2, h3, h4 {
  margin-top: 1ex;
}
