
@media print {
  body {
    padding-top: 0;
    font-size: 12px;
  }
}

a {
  color: #c25608;
  text-decoration: none;
}

a:hover {
  color: #f16a04;
  text-decoration: underline;
}

code { /* override bootstrap */
  color: black;
}

/* Header
   **********************************************************************/

#header {
  color: white;
  /* background: #925a41; */
  padding: 0px;
  margin: 0;
}

#header .top {
  background-image: url("../img/banner-top.jpg");
  height: 100px;
  padding: 8px;
}

#header .bottom {
  background: black url("../img/banner-bottom.jpg") no-repeat top left;
  height: 19px;
  padding: 5px;
  padding-top: 10px;
  padding-left: 10px;
}

.navigation-bar {
  display: block;
  font: 83% arial, helvetica, sans-serif;
  font-weight: bold;
  color: black;
  padding-top: 1ex;
  padding-bottom: 2ex;
}

.navigation-bar a {
  border: 0;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  color: black;
  padding: 0.5ex;
}

.navigation-bar a:hover {
  background-color: #fee1ad;
  border: 0;
  /* font-weight: bold; */
  text-decoration: underline;
}

.separation {
  padding-left: 5px;
  padding-right: 5px;
}

span.separation-bar {
  padding-left: 3px;
  padding-right: 3px;
  /* color: rgb(204,0,51); */
  /* font-weight: bold; */
}

#language .current-url {
  color: #7B7B7B;
}

#language .open-bracket {
  padding-left: 1em;
  color: #7B7B7B;
  padding-right: 3px;
}

#language .close-bracket {
  color: #7B7B7B;
  padding-left: 3px;
}

/* Main
   **********************************************************************/

#main {
  float: right;
  width: 84%;  /* Conf. in build.ml */
  padding-left: 1ex;
}

.hero-unit {
  padding: 3ex;
}

div.short-explanation {
  padding: 1ex;
  margin-bottom: 1ex;
  text-align: justify;
  /* background: #fcf7d5; */
  /* line-height: 140%; */
}

.quick-links td {
  width: 10%;
}

.quick-links h2 {
  padding-left: 1ex;
}

.read-more {
  font-size: 80%;
  float: right;
  padding-top: 0.5ex;
}

/* Big announcements, 1st page
 ***********************************************************************/

.big-announcements div.download {
  text-align: center;
  background: #e5d5c7;
}
.big-announcements download a img {
  border: 0;
}

.big-announcements p {
  font-size: 13px;
  font-weight: 100;
  line-height: 16px;
}

.big-announcements div {
  background-color: #fdf7ba;
}

.big-announcements .btn {
  background-image: linear-gradient(top, #fdf7ba, #fdec45);
  background-image: -moz-linear-gradient(top, #fdf7ba, #fdec45);
  background-image: -ms-linear-gradient(top, #fdf7ba, #fdec45);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdf7ba), to(#fdec45));
  background-image: -webkit-linear-gradient(top, #fdf7ba, #fdec45);
  background-image: -o-linear-gradient(top, #fdf7ba, #fdec45);
  background-image: linear-gradient(top, #fdf7ba, #fdec45);
}
.big-announcements .btn:hover,
.big-announcements .btn:active {
  background-color: #f1df1c;
}

/* Footer
 **********************************************************************/

#footer {
  background-color: #f1eff0;
  text-align: center;
  font-style: italic;
  padding-top: 2ex;
  padding-bottom: 2ex;
}

/* OCaml Planet
 **********************************************************************/

.rss-header {
  display: block;
  background-color: #ededed;
  width: 100%;
  color: black;
  padding: 1ex 1ex 1ex 1ex;
  margin-bottom: 1ex;
}

.rss-title {
  font-size: 125%;
  font-weight: bold;
}

.rss-date {
  font-style: italic;
}

.rss-description { /* main story */
  display: block;
  padding-left: 3em;
  padding-bottom: 3ex;
}

pre.rss-text { /* main story is text, not HTML */
  color: black;
  /* Same font as "body": */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 0;
}

#news .rss-title {
  font-size: 100%;
}

#news .rss-description { /* main story */
  display: block;
  padding-left: 0;
  padding-bottom: 0;
}

#news .rss-date {
  font-size: 80%;
}

/* News content */

#news .rss-description h1,
#news .rss-description h2,
#news .rss-description h3 {
  font-size: 100%;
}

#news .rss-description p {
  display: inline;
}

/* Colorize code */

.rss-description .kwa { font-weight: bold; }
.rss-description .kwb { color: #9a21c9; }
.rss-description .kwc { color: #213cc9; }

/* support.html
 ***********************************************************************/

td.logo {
  padding: 1ex 2ex 1ex 2ex;
}

table.logos {
  margin-bottom: 2ex;
}