
a {
  color: #c25608;
  text-decoration: none;
}

a:hover {
  color: #f16a04;
  text-decoration: underline;
}

h1 a, h2 a, h3 a, h4 a { /* anchors */
  color: black;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover { /* anchors */
  color: black;
  text-decoration: none;
}

code { /* override bootstrap */
  color: black;
}


table.array {
  text-align: left;
  border-collapse: collapse;
}

table.array td, table.array th {
  border: solid 1px #e1e1e8;
  vertical-align:text-top;
  padding: 0.5ex;
}

table.array th {
  background: #e1e1e8;
  color: black;
  font-weight: bold;
}

/* Weberizer */

.weberizer-error {
  font-weight: bold;
  color: white;
  background: #c60000;
  padding: 5px;
}

/* Header
   **********************************************************************/

#header {
  color: white;
  /* background: #925a41; */
  padding: 0px;
  margin: 0;
}

#header .top {
  background-image: url("../img/banner-top.jpg");
  height: 100px;
  padding: 8px;
}

#header .bottom {
  background: black url("../img/banner-bottom.jpg") no-repeat top left;
  height: 19px;
  padding: 5px;
  padding-top: 10px;
  padding-left: 10px;
}

.navigation-bar {
  display: block;
  font: 83% arial, helvetica, sans-serif;
  font-weight: bold;
  color: black;
  padding-top: 1ex;
  padding-bottom: 2ex;
}

.navigation-bar a {
  border: 0;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  color: black;
  padding: 0.5ex;
}

.navigation-bar a:hover {
  background-color: #fee1ad;
  border: 0;
  /* font-weight: bold; */
  text-decoration: underline;
}

.separation {
  padding-left: 5px;
  padding-right: 5px;
}

span.separation-bar {
  padding-left: 3px;
  padding-right: 3px;
  /* color: rgb(204,0,51); */
  /* font-weight: bold; */
}

#language .current-url {
  color: #7B7B7B;
}

#language .open-bracket {
  padding-left: 1em;
  color: #7B7B7B;
  padding-right: 3px;
}

#language .close-bracket {
  color: #7B7B7B;
  padding-left: 3px;
}

/* Main
   **********************************************************************/

#main {
  float: right;
  width: 84%;  /* Conf. in build.ml */
  padding-left: 1ex;
}

.hero-unit {
  padding: 3ex;
}

div.short-explanation {
  padding: 1ex;
  margin-bottom: 1ex;
  text-align: justify;
  /* background: #fcf7d5; */
  /* line-height: 140%; */
}

.quick-links td {
  width: 10%;
}

.quick-links h2 {
  padding-left: 1ex;
}

.read-more {
  font-size: 80%;
  float: right;
  padding-top: 0.5ex;
}

/* Big announcements, 1st page
 ***********************************************************************/

.big-announcements div.download {
  text-align: center;
  background: #e5d5c7;
}
.big-announcements download a img {
  border: 0;
}

.big-announcements p {
  font-size: 13px;
  font-weight: 100;
  line-height: 16px;
}

.big-announcements div {
  background-color: #fdf7ba;
}

.big-announcements .btn {
  background-image: linear-gradient(top, #fdf7ba, #fdec45);
  background-image: -moz-linear-gradient(top, #fdf7ba, #fdec45);
  background-image: -ms-linear-gradient(top, #fdf7ba, #fdec45);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdf7ba), to(#fdec45));
  background-image: -webkit-linear-gradient(top, #fdf7ba, #fdec45);
  background-image: -o-linear-gradient(top, #fdf7ba, #fdec45);
  background-image: linear-gradient(top, #fdf7ba, #fdec45);
}
.big-announcements .btn:hover,
.big-announcements .btn:active {
  background-color: #f1df1c;
}

/* Footer
 **********************************************************************/

#footer {
  background-color: #f1eff0;
  text-align: center;
  font-style: italic;
  padding-top: 2ex;
  padding-bottom: 2ex;
}

/* OCaml Planet
 **********************************************************************/

div.planet-subscriptions {
  font-size: 85%;
  background-color: #ededed; /* same as .rss-header */
  padding: 0.5ex 1ex 0.5ex 0.5ex;
  margin-right: 0;
  border: 1px solid #8b8b8b;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.planet-subscriptions em {
  font-size: 110%;
  padding-left: 0.5ex;
}

.rss-header {
  display: block;
  background-color: #ededed;
  width: 90%;
  color: black;
  padding: 1ex 1ex 1ex 1ex;
  margin-bottom: 1ex;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.rss-title {
  font-size: 125%;
  font-weight: bold;
}

.rss-date {
  font-style: italic;
}

.rss-description { /* main story */
  display: block;
  padding-left: 3em;
  padding-bottom: 3ex;
}

pre.rss-text { /* main story is text, not HTML */
  color: black;
  /* Same font as "body": */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 0;
}

#news .rss-title {
  font-size: 100%;
}

#news .rss-description { /* main story */
  display: block;
  padding-left: 0;
  padding-bottom: 0;
}

#news .rss-date {
  font-size: 80%;
}

/* News content ---------------------------------------- */

#news .rss-description h1,
#news .rss-description h2,
#news .rss-description h3 {
  font-size: 100%;
}

#news .rss-description p {
  display: inline;
}

.rss-description h1 { font-size: 140%; }
.rss-description h2 { font-size: 130%; }
.rss-description h3 { font-size: 105%; }
.rss-description h1 code,
.rss-description h2 code,
.rss-description h3 code { font-size: 100%; }

/* Colorize code */

.rss-description .kwa { font-weight: bold; }
.rss-description .kwb { color: #9a21c9; }
.rss-description .kwc { color: #213cc9; }

/* Companies
 ***********************************************************************/

.company a.name {
  font-weight: bold;
  font-size: 110%;
}

.company .description {
  display: block;
  font-style: italic;
  padding: 0 0 1ex 1em;
}

#company-highlight {
  background-color: #fbf3d8;
  padding: 1ex;
  margin-bottom: 2ex;
  border: 1px solid #8b8b8b;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.disclaimer {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #666666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #cccccc;
  border: 1px solid #999999;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.disclaimer a {
  color: #333333;
  text-decoration: none;
}

.disclaimer a:hover {
  color: #666666;
  text-decoration: underline;
}

/* TOC
 ***********************************************************************/

.toc li {
  list-style-type: square;
}

/* support.html
 ***********************************************************************/

td.logo {
  padding: 1ex 2ex 1ex 2ex;
}

table.logos {
  margin-bottom: 2ex;
}

/* FAQ
 ***********************************************************************/

div.Q {
  font-weight: bold;
  padding-top: 1ex;
  padding-bottom: 0.3ex;
}

div.A {
  padding-left: 2em;
}

/* OCaml code
 ***********************************************************************/

.ocamltop-prompt {
  color: #8d8d8d;
}

.listing .kwa, .ocamltop-input .kwa { font-weight: bold; }
.listing .kwb, .ocamltop-input .kwb { color: #9a21c9; }
.listing .kwc, .ocamltop-input .kwc { color: #213cc9; }
.listing .opt, .ocamltop-input .opt { color: #08087a; } /* operators */

.ocaml-function { color: #0606ee; }
.ocaml-variable { color: #b8860b; }
.ocaml-mod { color: #42a642; }
.ocaml-comment, .ocaml-comment .kwa, .ocaml-comment .kwb,
.ocaml-comment .ocaml-function {
  font-weight: normal;
  font-style: italic;
  color: #cd6600;
}

.ocamltop-output {
  color: #7792dd;
}

.ocamltop-stdout {
  color: #0d89dd;
}

.ocamltop-stderr {
  font-style: italic;  
}

.ocamltop-error {
  font-style: italic;
  color: #d32121;
}

.ocamltop-error-loc {
  border-bottom: solid 4px #d32121;
}

/* 99 Problems
 ***********************************************************************/

.question .title {
  display: list-item;
  list-style-type: square;
  font-weight: bold;
  padding: 1ex 0 0.5ex 0em;
  margin-left: 1em;
}

.easy .title:before { content: "♠ ";  color: green; }
.medium .title:before { content: "♠♠ "; color: orange; }
.hard .title:before { content: "♠♠♠ "; color: red; }

.solution {
  display: none;
}

button.solution {
  display: inline;
}

/* Papers on OCaml
 ***********************************************************************/

.biblio tr {
  vertical-align : top;
}

.biblio .title {
  color : #6666FF ;
}

.biblio .ref {
  font-style : italic ;
}

.biblio .desc {
  color: #444444;
  font-style: italic;
  margin: 0.5em 0 0 2em;
}

/* OCaml Programming Guidelines
 ***********************************************************************/

blockquote {
  margin-left: 5em;
  margin-top: 1ex;
  border: 1px solid #c9c9c9;
  background-color: #fffed8;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

blockquote p {
  font-size: 100%;
}

/* Books
 ***********************************************************************/

.book img {
    height: 128px;
}
