
#header {
  padding: 0px;
  margin: 0;
}

#header a, #header a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 0;
}

#header .top {
  background-image: url("../img/banner-top.jpg");
  height: 100px;
}

#header .bottom {
  background: url("../img/banner-bottom.jpg");
  height: 19px;
  padding-top: 10px;
#  border-bottom: 4px solid #E0E0E0;
}

.nav {
  background-color: black;
  padding-top: 0;
  text-align: right;
  padding-right: 40px;
  margin-bottom: 10px;
  border-bottom: 4px solid #E0E0E0;
}
.nav ul {
 list-style: none;
}
.nav li {
 list-style: none;
 display: inline-block;
 line-height: 18px;
 padding-left: 10px;
}
.nav a {
  color: #999;
  font-weight: normal;
}
.nav a:hover{
  color: #C25608;
  text-decoration: none;
  border-bottom: 0;
}

a {
  color: #C25608;
}

a:hover {
  color: #C25608;
  text-decoration: none;
  border-bottom: 1px solid #C25608;
}

.logo {
    display: block;
    width: 200px;
    text-align: center;
    float: left;
    height: 70px;
}

.logo a {
	opacity: 0.6;
	filter: alpha(opacity = 60);

}
.logo a:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
	border-bottom: none;

}
.logos {
	display: block;
	float: center;
	overflow: auto;
	margin: auto;
	width: 600px;
}

.footer {
    background-color: #F8F8F8;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    height: 120px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer ul {
    list-style: none;
}
.footer h4 {
    border-bottom: 1px solid grey;
}
.footer h4 a {
    color: #333;
}
.footer h4 a:hover {
    border-bottom: 0;
}
.contribute {
    text-align: center;
    font-size: 11px;
    padding-bottom: 20px;
}

#main {
    min-height: 600px;
}

#Print .footer {
  display: none;
}

#Print .nav {
  display: none;
}

#Print #leftmenu {
  display: none;
}

#Print #DisplayPrintWindow {
  display: none;
}

#Print .contribute {
  display: none;
}

#leftmenu li {
  list-style: none;
  padding-left: 0px;
  margin-left: 10px;
  font-size: 15px;
}

#rightmenu {
  padding-top: 20px;
}

#leftmenu {
  padding-top: 20px;
}

#leftmenu h2 {
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
}

#leftmenu ul {
  margin-left: 0;
}

.content {
  padding-top: 20px;
  padding-bottom: 100px;
}

#leftmenu a {
 color: #333;
}

#leftmenu a:hover {
 border-bottom: 0;
}

#leftmenu li:hover {
 background-color: #E0E0E0;
}

#leftmenu .current {
 color: #C25608;
}

#rightmenu .news {
  border-color: #0000e0;
  background-color: #E0E0E0;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.misc {
  text-align: center;
  padding-right: 100px;
}

h1, h2, h3, h4 {
 color: black;
}

h1 {
  padding-bottom: 20px;
}

.announce {
  display: block;
  margin-bottom: 15px;
  background-color: #f0f0f0;
  padding: 0 15px 25px 15px;
}

.software {
  position: relative;
  top: 20px;
}

.announce_title {
 float: left;
 color: #1010ff;
  font-weight: bold;
}

.announce_date {
 float: right;
 color: #1010ff;
}
